.chart {
	max-width: 800px;
	margin: 50px auto;
	padding: 40px 20px;
	border: 1px solid #000;
	background-color: #fff;
}
@media (max-width: 767px) {
	.chart {
		margin: 0;
		padding: 25px 15px 15px;
	}
}
